@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Source Sans Pro', sans-serif;
}

/* nav  */
header {
    width: 100%;
    height: 72px;
    background-color: #1d2a35;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

/* logo div */
.logo {
    width: 60px;
    padding: 2px 8px;
    margin-right: 5px;

}

/* image of logo */
.logo img {
    width: 100%;
}

/* left part of nav */
.nav-left a {
    text-decoration: none;
    color: #DDDDDD;
    height: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 0px 17px;
    font-weight: 550;
}

.nav-left {
    display: flex;
    align-items: center;
    height: 100%;

}

.main-menu {
    display: none;
}

.main-menu a {
    color: white;
    text-decoration: none;
    display: flex;
    padding: 0px 7px;
}

.main-menu .fa-solid {
    padding: 0 3px;
}

.nav-left a:hover {
    background-color: #04AA6D;
}

.nav-left .fa-solid {
    padding: 0px 3px;
}

/* right nav */
/* icons */
.nav-right .fa-solid {
    color: white;
    cursor: pointer;
    padding: 0px 3px;
    font-size: 18px;

}

.nav-right .fa-solid:hover {
    color: #04AA6D
}

.bg-white {
    background-color: #fff;
    color: black;
}

.bg-pink {
    background-color: #FFC0C7;
    color: black;
}

.bg-pink1 {
    background-color: #FFC0C7;
    color: black;
}

.bg-yellow {
    background-color: #FFF4A3;
    color: black;
}

.bg-yellow1 {
    background-color: #FFF4A3;
    color: black;
}

.bg-green {
    background-color: #04AA6D;
    color: white;
}

.bg-black {
    background-color: #282A35;
    color: white;
}

.bg-blue {
    background-color: #96D4D4;
}

.bg-blue1 {
    background-color: #96D4D4;
}

.bg-light {
    background-color: #F3ECEA;
}

.bg-lightblue {
    background-color: #D9EEE1;
}

.bg-lightblue4 {
    background-color: #c4e3ec;
}

.bg-lightblue4:hover {
    background-color: #dbe8ec;
}

.bg-lightpink {
    background-color: #E7E9EB;
}

.bg-yellow2 {
    background-color: #FFF4A3;
}

.button {
    border-radius: 25px;
    border: none;
    padding: 12px 15px 12px 15px;
    

}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    gap: 17px;
}

.nav-right a {
    font-size: 17px;
    font-weight: 550;
    text-decoration: none;
}

.nav-right a:last-child {
    padding: 11px 42px;
}
.bg-pink2 {
    background-color: #f0abb3;
}

.bg-pink2:hover {
    background-color: #FFC0C7;
}

.bg-blue1:hover {
    background-color: #b1e4e4;
}

.bg-white:hover {
    background-color: gray;
}

.bg-pink:hover {
    background-color: #f0abb3;
}

.bg-yellow:hover {
    background-color: #ebdd76;
}

.bg-yellow2:hover {
    background-color: lightyellow;
}

.bg-green:hover {
    background-color: #199769;
}

.bg-black:hover {
    background-color: black;
}


/* menu data div */
.menu-data-main {
    height: 500px;
    background-color: #38444D;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    position: relative;

}

.menu-data {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.menu-data-main button {
    background-color: #38444D;
    color: white;
    border: none;
}

.button-none {
    padding: 10px;
    position: absolute;
    right: 0px;
    top: 30px;
}

.button-none i {
    font-size: 20px;
}


.menu-data i {
    color: white;
    padding: 0px 3px;
}

.menu-data a {
    padding: 10px !important;
    color: white;
    text-decoration: none;
    font-size: 22px;

}

/* responsive for menu data */
@media all and (max-width:1800px) {
    .menu-data-main {
        display: none;
    }

}

/* responsive */
@media all and (max-width:1300px) {
    .upgrade {
        display: none;
    }
}

@media all and (max-width:1200px) {
    .certified {
        display: none;
    }

    .nav-left .video {
        display: none;
    }
}

@media all and (max-width:950px) {
    .create-web {
        display: none;
    }
}

@media all and (max-width:850px) {
    .nav-left .menu {
        display: none;
    }

    .main-menu {
        display: block;
    }
}

@media all and (max-width:600px) {
    .dark {
        display: none;
    }
}

@media all and (max-width:425px) {
    .nav-right a:last-child {
        padding: 10px 20px;
    }
}

@media all and (max-width:380px) {

    .earth,
    .search {
        display: none;
    }
}


/* main part section */
.section .main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 475px;
    background-color: #0D1721;
}
.main{
    padding-top: 60px;
}

.main h1 {
    font-size: 65px;
    color: white;

}

.main p {
    color: #f0abb3;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.main h1,
.main p,
.main-search {
    margin: 15px 0px;
}

.main-search {

    width: 37%;
    min-width:37%;
    height: 45px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    outline: none;
}

.main-search i {
    background-color: #04AA6D;
    height: 45px;
    width: 70px;
    font-size: 17px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0px 20px 0px 35px;
}

.main-search input {
    height: 100%;
    width: 100%;
    border-radius: 50px 0 0 50px;
    border: none;
    outline: none;
    /* padding: 0px 10px; */
    font-size: 15px;
    /* font-weight: 550; */
    padding:0px 10px 0px 20px;
}
 input::placeholder {
    /* Add your desired styles here */
    font-weight: bold;
  }

.section a {
    color: white;
    font-size: 20px;
    font-weight: 550;
    margin: 30px 0;
}

.main a:hover {
    color: #04AA6D;
}

.main-search i:hover {
    background-color: #199769;
}
/* responsive main part */

@media all and (max-width:770px){
    .main h1{
        font-size:55px ;
    }
    
    .main h1,
.main p,
.main-search {
    margin: 15px 0px;
}
}

/* body left */
.language {
    background-color: #D9EEE1;
    margin-top: -4px;
}

.language-left a {
    text-decoration: none;
    font-size: 17px;
    font-weight: 550;
    width: 185px;
    text-align: center;
    margin-bottom: 20px;

}

.language-left h1 {
    font-size: 85px;
    margin-bottom: 37px;
    font-weight: 550;
    padding-top: 32px;
}

.language-left p {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 30px;
}

.language {
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
}

.language-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-left: 7.7rem !important;
    padding-top: 3rem !important;

}

/* html-right box */
.language-right h3 {
    color: #DDDDDD;
    padding: 25px 10px;
}

.language-right {
    background-color: #38444d;
    width: 45%;
    border-radius: 5px;
    margin-top: 4rem !important;
    padding: 6px;
    margin-bottom: 4rem;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 18%), 0 2px 10px 0 rgb(0 0 0 / 15%)
}

.box {
    background-color: white;
    height: 300px;
    border-left: 4px solid #04AA6D;
    margin: 1px 10px;
    padding: 10px;
    font-size: 15px;
    font-family: Consolas,Menlo,"courier new",monospace;
}
.brown{
color: brown;
}
.btn {
    margin: 10px;
    width: 200px;
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}

/* style css section */
.css-style {
    background-color: #FFF4A3 !important;
}

/* javascript */
.jp {
    background-color: #0D1721;

}

.jp-box {
    height: 230px !important;
}

.jp-right {
    /* margin-top: 4rem!important; */
    height: 370px !important;

}

.jp-right a {
    margin-bottom: 70px !important;
}

.jp h1,
.jp p {
    color: white;
}

.jp h1 {
    font-size: 70px;
}

.language-left .jp-but {
    font-size: 15px;
}

/* python */
.python {
    background-color: #F3ECEA;
}

/* SQL */


/* responsive section language */
@media all and (max-width:1000px) {
    .language {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }

    .language-left {
        padding-left: 1rem !important;
    }

    .language-right {
        width: 100%;

    }

    .language-right {
        margin-bottom: 2rem;
    }
}

@media all and (max-width:768px) {
    .language-left h1 {
        font-size: 55px;
    }
}

@media all and (max-width:600px) {
    .language-right {
        display: none;
    }
}

/* different language */
.main-content {
    background-color: #1d2a35;
    padding: 40px 0px;
}

.top {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
    row-gap: 60px;
    padding: 40px;
}

.top div {
    padding: 45px 5px;
}

.top h1 {
    font-size: 40px;

}

.top h1,
.top p {
    margin-bottom: 1rem;
    font-weight: 550;
}

.top-same {

    border-radius: 4px;

}

@media all and (max-width:992px) {
    .top {
        display: flex;
        flex-direction: column;
        gap: 17px;

    }
}

/* middle part of diffierent landuage */
.middle {
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 80px 40px 10px 40px;

}

.middle-same {
    padding: 50px;
    width: 50%;
    border-radius: 4px;

}

.middle a {
    font-size: 30px;
    text-decoration: none;
    color: black;
    font-weight: 550;
}

@media all and (max-width:992px) {
    .middle {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .middle-same {
        width: 100%;

    }
}

/* bottom language  */
.bottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    row-gap: 50px;
    padding: 50px 40px;
}

.bottom-same {
    padding: 40px 10px;
    text-align: center;
    border-radius: 4px;
}

.bottom-same a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: 550;
}

.bg-lightwhite {
    background-color: #F3ECEA;
}

.bg-lightwhite:hover {
    background-color: #e2dfde;
}

.bg-lightblue3 {
    background-color: #D9EEE1;
}

.bg-lightblue3:hover {
    background-color: #ebfdf3;
}

/* reponsive bottom */
@media all and (max-width:992px) {
    .bottom {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 50px;
        row-gap: 40px;
    }
}

@media all and (max-width:600px) {
    .bottom {
        grid-template-columns: repeat(1, 1fr);
        column-gap: 50px;
        row-gap: 20px;
        padding-top: 10px;
    }
}

/* last of section of different language */
.last {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
    row-gap: 50px;
    padding: 0px 40px;

}

.last a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: 550;
}

.last-same {
    padding: 40px 50px;
    text-align: center;
    border-radius: 4px;
}

/* responsive  */
@media all and (max-width:992px) {
    .last {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
    }
}

/* code editor */

.bg-red {
    background-color: red;
}

.bg-yellow3 {
    background-color: yellow;
}
.code-editor {
    width: 70%;
    text-align: center;
    padding-top: 10rem;
    margin:auto;
  
}


.code-editor h1 {
    font-size: 60px;
    font-weight: 550;
    padding-bottom: 25px;
    color: white;
}

.code-editor p {
    font-size: 18px;
    font-weight: 550;
    padding-bottom: 50px;
    color: white;
}

.dot {
    padding: 8px;
    display: inline-block;
    border-radius: 10px;
}
.code-editor-box{
  width:100%;
  background-color: #D9EEE1;
  border-radius:5px;
}
.code-editor-main{
    display: flex;
    align-items: center;
    gap: 10rem;
    padding-top:10px;
    padding-left: 5px;
}
.editor-left{
    padding-top :11px !important;
    padding-left: 10px;
}
.editor-right{
    background-color: white;
    width:70%;
    text-align: left;
    padding: 6px;
    font-size: 12px;
    color: rgb(187, 172, 172);
}






/* frontend and backend */
.fb {
    display: flex;
    padding: 15px;
    gap: 7px;
}

.fb-same {
    padding: 5px;
    font-weight: 550;
}

.fb-same:hover {
    background-color: #a9b0b6;
}
.gif img, .gif{
    width: 100%;
}


/* editor */
.editor-link a {
    text-decoration: none;
    border-radius: 7px;
    font-size: 15px;
    font-weight: 550;


}

.editor-link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    overflow: hidden;

}

.editor-link {
    margin-top: 15px;
}

/* responsive */
@media all and (max-width:1200px) {
    .code-editor {
        width:80%
    }
}
@media all and (max-width:1100px) {
    .code-editor {
        width:90%;
    }

}
@media all and (max-width:900px) {
    .code-editor {
        width:95%;
    }

}
@media all and (max-width:900px) {
    .editor-right {
        width:55%;
    }

}
@media all and (max-width:770px) {
    .code-editor h1 {
        font-size: 50px;
    }

}

@media all and (max-width:600px) {
    .editor-link a {
        width: 100%;
    }
}
@media all and (max-width:600px) {
   
    .code-editor-main{
        position:relative;
    }
    .editor-left {
        position:absolute;
        left: 1px;

   }
    .editor-right {
        position:absolute;
        right: 3px;
        top: 5px;

   }
}

/* w3school space */
.space {
    background-color: #282A35;
}

.space-top {
    color: white;
    text-align: center;
    padding: 50px;
}

.space-top h1 {
    font-size: 60px;
    padding-bottom: 30px;
}

.space-top p {
    font-size: 20px;
    font-weight: 550;
}

.space-img-main {
    width: 90%;
    margin: auto;
}

.space-img img {
    width: 100%;
}

.work {
    width: 90%;
    margin: auto;
}

.work img {
    width: 100%;
}
/* responsive */


/* get started button */
.get-started {
    text-decoration: none;
    font-size: 20px;
    font-weight: 550;
    border-radius: 25px;
    padding: 15px 70px;

}

.get-now {
    display: flex;
    padding: 50px;
    justify-content: center;
}

/* My learning */
.my-learning {
    background-color: #D9EEE1;
}

.learning-top {
    text-align: center;
    padding: 80px;
}

.learning-top h1 {
    font-size: 60px;
    padding-bottom: 25px;
}

.learning-top p {
    font-size: 17px;
    font-weight: 550;

}

.learning-top-p {
    padding-bottom: 25px;
}

.learning-img {
    width: 70%;
    margin: auto;
}

.learning-img1 {
    width: 100%;
}

.learning-img1 img {
    width: 100%;
}


/* pro user */
.pro-user {
    background-color: rgb(13, 23, 33);
}

.pro-user-top {
    color: white;
    text-align: center;
    padding: 50px;
}

.pro-user-top h1 {
    font-size: 50px;
    padding-bottom: 20px;
}

.pro-user p {
    font-size: 20px;
    color: pink;
}

.pro-user-img {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    gap: 15px;
    padding-bottom: 10px;
    font-weight: 550;

}

.img-main {
    width: 25%;
    margin: auto;
}

.pro-user-img p {
    color: white;
    font-size: 15px;
}

.pro-user-img a {
    color: white;
}

.pro-user-img a:hover {
    color: #04AA6D;
}

.learn-more {
    padding: 15px 100px;
}

/* color picker */
.color-picker {
    background-color: #F3ECEA;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.color-picker-top h1 {
    font-size: 60px;
    font-weight: 550;
    padding-bottom: 30px;
}

.color-picker-top p {
    font-size: 16px;
    font-weight: 550;
    padding-bottom: 40px;
}

.color-picker-top {
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.color-picker-img {
    padding-bottom: 60px;
}

/* code game */
.code-game,
.code-game-top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.code-game-top h1 {
    font-family: 'Freckle Face', cursive !important;
    font-size: 45px;
    padding-top: 60px;
}

.code-game-top p {
    font-family: 'Freckle Face', cursive !important;
    font-size: 25px;
    padding-bottom: 30px;
}

.game-btn a {
    text-decoration: none;
    font-size: 17px;
    font-weight: 550;
    padding: 15px 60px;

}

/* exercise and quizzes */
.exercise {
    background-color: rgb(13, 23, 33);
}

.exercise-btn-same {
    padding: 80px 50px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    font-weight: 550;
    width: 600px;
    border-radius: 5px;
}

.exercise-main {
    text-align: center;
    color: white;
    padding-top: 80px;
}

.exercise-main h1 {
    font-size: 60px;
    font-weight: 700;
    padding-bottom: 30px;
}

.exercise-main p {
    font-size: 20px;
    font-weight: 550;
    padding-bottom: 30px;
}

.exercise-main-link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    column-gap: 70px;
    padding-bottom: 60px;

}

/* web template */
.web-template {
    background-color: #38444d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 70px;
}

.web-template-main {
    text-align: center;
    padding: 50px;
}

.web-template-main h1 {
    font-size: 60px;
    font-weight: 550;
    padding-bottom: 20px;
}

.web-template-main p {
    font-weight: 550;
    padding-bottom: 20px;
}

.web-template-img {
    width: 70%;
}

.web-template-img img {
    width: 100%;
    padding-bottom: 30px;
}

.web-template a {
    text-decoration: none;
    padding: 20px 100px;
    font-weight: 550;
    width: 40%;
    text-align: center;
}

/* start your career */
.pink {
    color: pink;
}

.kickstart {
    background-color: rgb(13, 23, 33);
}

.kickstart-main h1 {
    font-size: 60px;
    padding-bottom: 80px;

}

.kickstart-main h2 {
    font-size: 45px;
    padding-bottom: 80px;
}

.kickstart-main a {
    text-decoration: none;
    padding: 15px 35px !important;
}

.kickstart-main {
    padding: 90px 50px;
}

.white {
    color: #ddd;
}

/* code  snippets/ how to make slideshow */
.slider {
    background-color: #1D2a35;
}
.slider-main{
    padding-top:5rem!important;
    width: 70%;
    text-align: center;
    margin:auto;
}
.slider-main h2{
    font-size:50px;
    font-weight:550;
    margin-bottom: 2rem;
}
.slider-main-color{
    color: #a9b0b6;
}
.slider-main h4{
    font-size: 20px;
    margin-bottom:1rem!important;
}
.slider-main p{
    font-size: 15x;
    font-weight: 550;
    margin-bottom: 1rem;
   
}
.howtosection{
    width:100%;
    position: relative;
}
.howtosection-list{
    display: flex;
}
.howtosection-item{
    transform: translateX(-0%);
    width: 100%;
}
.howtosection-button{
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.howtosection-button button {
 background-color: transparent;
 border: none;
 color: white;
 margin: 5px;

 padding: 15px 7px;
}
.howtosection-button button i{
    font-size: 25px;
}
.howtosection-button button:hover{
    background-color: black;
}


/* footer */
.footer{
background-color: rgb(13,23,33);
display: flex;
}


